  <footer>
      <p>
        Made by Ralf Zonneveld © 2021 - All rights reserved |
        <a href="https://github.com/ralfz123/browser-technologies-2021" target="_blank"
          >GitHub link</a
        >
      </p>
        </footer>
  </body>
</html>