<header>
  <h1>iPic <span>📷</span></h1>
  <nav>
    <ul>
      <li><a href="/">Upload</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/series/overview">Series</a></li>
    </ul>
  </nav>
</header>
