<head>
  <%- include ('./partials/head') %>
  <title>404 | CYL 😹</title>
</head>

<body>
  <%- include ('./partials/header') %>

  <main>
    <section id="error">
      <h1>404</h1>
      <h3>Something went wrong, go back to <a href="/">home</a></h3>
      <h2>😟</h2>
    </section>
  </main>

  <%- include ('./partials/footer') %>
</body>
