<head>
  <%- include ('./partials/head') %>
  <title>Home | iPic</title>
</head>
<body>
  <%- include ('./partials/header') %>

  <main>
    <section>
      <h2>Hi</h2>
      <h3>Upload your photos to create your own gallery</h3>
    <br />
      <a href="/upload">Upload</a>
      <!-- <a href="/photos">ALL PHOTOS</a> -->
      <!-- <a href="/series">ALL SERIES</a> -->
    </section>
  </main>

  <%- include ('./partials/footer') %>
</body>
