<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head') %>
  <title>Home | iPic</title>
</head>
<body>
  <%- include ('./partials/header') %>

  <main>
    <section id="home">
      <h2>Hi</h2>
      <h3>Upload your photos to create your own gallery</h3>
      <a class="link" href="/upload">Upload here!</a>
    </section>
  </main>

  <%- include ('./partials/footer') %>
</body>
