<head>
    <%- include ('./partials/head') %>
    <title>Series #1 | iPic</title>
  </head>
  <body>
    <%- include ('./partials/header') %>
  
    <main>
      <section>
        <h1>Serie #1</h1>
        <a href="/series">Back</a>
      </section>
    </main>
  
    <%- include ('./partials/footer') %>
  </body>
  