<head>
    <%- include ('./partials/head') %>
    <title>Series #1 | iPic</title>
  </head>
  <body>
    <%- include ('./partials/header') %>
  
    <main>
      <section>
        <h1>All series</h1>
        <a href="/photos/1">Photo 1</a>
      </section>
    </main>
  
    <%- include ('./partials/footer') %>
  </body>
  