<head>
  <%- include ('../../partials/head') %>
  <title>Series #1 | iPic</title>
</head>
<body>
  <%- include ('../../partials/header') %>

  <main>
    <section>
      <h1>All series</h1>
      <a href="/series/1">Serie 1</a>
      <a href="/">Back</a>
    </section>
  </main>

  <%- include ('../../partials/footer') %>
</body>
