<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
    <title>Upload | iPic</title>
  </head>
  <body>
    <%- include ('../partials/header') %>

    <main>
      <section id="upload">
        <h2 class="hide">New photo</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend>Info about the photo</legend>

            <h3>Upload your photo here</h3>
            <input type="file" accept="image/*" name="image" required />

            <label for="title">
              Title
              <input
                id="title"
                name="title"
                type="text"
                placeholder="Nice flower"
                required
              />
            </label>

            <label for="description"
              >Description
              <input
                id="description"
                name="description"
                type="text"
                placeholder="Flower in the field"
                required
              />
            </label>

            <label for="photographer"
              >Photographer
              <input
                id="photographer"
                name="photographer"
                type="text"
                placeholder="John Doe"
                required
              />
            </label>

            <label for="location"
              >Location
              <input
                id="location"
                name="location"
                type="text"
                placeholder="Paris, France"
                required
              />
            </label>

            <button type="submit">Upload</button>
          </fieldset>
        </form>
      </section>
    </main>

    <%- include ('../partials/footer') %>
  </body>
</html>
