  <head>
    <%- include ('../partials/head') %>
    <title>Upload | iPic</title>
  </head>
  <body>
    <%- include ('../partials/header') %>

    <main>
      <section id="favourites">
       <p>Upload photo</p>
<form action="">
  <input type="file">
</form>
      </section>
    </main>
    
    <%- include ('../partials/footer') %>