<head>
  <%- include ('../../partials/head') %>
  <title>Photos| iPic</title>
</head>
<body>
  <%- include ('../../partials/header') %>

  <main>
    <section>
      <h1>All photos</h1>
      <a href="/photos/1">Photo 1</a>
      <a href="/">Back</a>
    </section>
  </main>

  <%- include ('../../partials/footer') %>
</body>
