/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #eef7ff;
  background: #f5f5f5;
  --font-body: 'Montserrat', sans-serif;
  --font-header: 'Pacifico', cursive;
  margin: 0;
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */

body {
  margin: 0 auto;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
}

/* ------------------------------------------- */
/*                   HEADER                    */
/* ------------------------------------------- */

header {
  margin: 0 auto;
  text-align: center;
  margin: 1em 0;
}

header h1 {
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 1.4; */
}

header h1:hover::after {
  content: '📸';
  display: inline-block;
}

header h1:hover span {
  display: none;
}

header nav ul {
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  list-style: none;
  background: white;
  height: 2em;
  align-items: center;
}

header nav ul a {
  padding: 0.5em;
  padding: 0.5em 2em;
  text-decoration: none;
  color: #000000;
}

header nav ul a:hover,
header nav ul a:focus,
header nav ul a:active {
  font-weight: bold;
  background-color: #000000;
  color: white;
  transform: scale(1.1);
}

/* ------------------------------------------- */
/*                   MAIN                      */
/* ------------------------------------------- */

/* --/* --  Default button styling --/* -- */

main button {
  margin: 0;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #063b65;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.1s;
  text-align: center;
  text-transform: uppercase;
}

main button:hover,
main button:focus,
main button:active {
  transform: scale(1.05);
  cursor: pointer;
  background: #0c5189;
}

/* --/* --  Default <a> styling --/* -- */

main a {
  width: 9em;
  text-align: center;
}

main a.link {
  border-radius: 10px;
  background: #2c28bb;
  color: white;
  font-weight: 500;
  padding: 0.5em 0.75em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  text-transform: uppercase;

  background-color: #008071;
}

main a.link:hover,
main a.link:focus,
main a.link:active {
  color: #008071;
  background: white;
  border: 1px solid #008071;
}

main section {
  /* display: none; */
  position: relative;
  /* width: 50vw; */
  padding: 10px;
}

/* ------------------------------------------- */
/*                   HOME                      */
/* ------------------------------------------- */

main section form {
  width: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

main section ol {
  list-style-type: none;
}

/* home */
main section#home a {
}

/* upload */
main section#upload {
}

/* photos - overview */

main section#photos-overview {
  max-width: 90vw;
  background: rgba(255, 0, 0, 0.122);
  margin: 0 auto;
}

main section ol li {
  /* margin: 10px; */
  width: 15em;
}

/* masonry grid */
@supports (display: grid) {
  main section#photos-overview ol {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }

  figure {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  figure > img {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.2em 0.5em;
    justify-self: start;
  }

  figcaption {
    /* grid-row: 2;
    grid-column: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.2em 0.5em;
    justify-self: start;
  } */
  }
}

/* main section ol li:after {
  content: '';
  display: block;
  background-color: blue;
  width: 10px;
  position: absolute;
  z-index: 1;
} */

main section ol li figure {
  width: 100%;
}

main section img {
  border-radius: 10px;
}

main section ol li figure img {
  width: 100%;
  height: auto;
  /* width: 150px;
  height: 150px; */
}

/* main section ol li figcaption {
  transform: translateY(-100px);
  position: absolute;
  z-index: -1;
  color: #ffffff;
  width: 9.5em;
  padding: 10px;
  font-size: 1rem;
  display: table;
}

main section ol li:hover figcaption {
  transform: translateY(-50px);
  z-index: 1;
  transition: 0.4s;
} */

/* pages - detail */

/* series - overview */

/* series - overview */

/* series - overview */

/* ------------------------------------------- */
/*                   FOOTER                    */
/* ------------------------------------------- */

footer {
  position: fixed;
  font-size: 0.7rem;
  padding: 0;
  height: 34px;
  padding: 5px 0px;
  background-color: #767c7f0d;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer p {
  margin: 3px 0px;
}

footer p a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-style: italic;
}

footer p a:hover {
  color: rgb(34, 34, 147);
}

/* --/* ----- SCROLLBAR ---/* - */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2d28bb91;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c28bb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c28bb;
}

/* @media all and (max-width: 50em) {
  main section {
    width: 90vw;
  }
} */
