/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #eef7ff;
  background: #f5f5f5;
  --font-body: 'Montserrat', sans-serif;
  font-weight: 300;
  /* --font-header: 'Pacifico', cursive; */
  margin: 0;
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */

body {
  margin: 0 auto;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4 {
  /* font-family: var(--font-header); */
  font-weight: 400;
  text-align: center;
}

/* ------------------------------------------- */
/*                   HEADER                    */
/* ------------------------------------------- */

header {
  margin: 0 auto;
  text-align: center;
  margin: 1em 0;
}

header > a {
  color: black;
  text-decoration: none;
}

header h1 {
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 1.4; */
}

header h1:hover::after,
header h1:focus::after,
header h1:focus-within::after,
header h1:active::after {
  content: '📸';
  display: inline-block;
}

header h1:hover span,
header h1:focus span,
header h1:focus-within span,
header h1:active span {
  display: none;
}

header nav ul {
  /* max-width: 40em; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  list-style: none;
  background: white;
  height: 2em;
  align-items: center;
}

header nav ul a {
  padding: 0.5em;
  padding: 0.5em 2em;
  text-decoration: none;
  color: #000000;
}

header nav ul a:hover,
header nav ul a:focus,
header nav ul a:active {
  font-weight: bold;
  background-color: #000000;
  color: white;
  transform: scale(1.1);
}

/* ------------------------------------------- */
/*                   MAIN                      */
/* ------------------------------------------- */

/* --/* --  Default button styling --/* -- */

main button {
  margin: 0;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #063b65;
  background: #008071;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border: 1px solid #008071;
  font-family: var(--font-body);
}

main button:hover,
main button:focus,
main button:active {
  /* transform: scale(1.05); */
  /* transform: translateY(5px); */
  cursor: pointer;
  background: #1074c5;
  background: white;
  color: #008071;
  border: 1px solid #008071;
}

/* --/* --  Default <a> styling --/* -- */

main a {
  width: 10em;
  text-align: center;
}

main a.link {
  border-radius: 10px;
  background: #2c28bb;
  color: white;
  font-weight: 500;
  padding: 0.5em 0.75em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  background-color: #008071;
}

main a.link:hover,
main a.link:focus,
main a.link:active {
  color: #008071;
  background: white;
  border: 1px solid #008071;
}

main section {
  /* display: none; */
  position: relative;
  /* width: 50vw; */
  padding: 10px;
}

/* ------------------------------------------- */
/*                   HOME                      */
/* ------------------------------------------- */

main section h1.hide {
  display: none;
}

main section form {
  /* width: 26em; */
  max-width: 22em;
  /* margin: 2em auto 0; */
  margin: 0em auto 0;
  padding: 1em;
}

main section form fieldset {
  padding: 1em;
  /* padding-left: 2em; */
  border: none;
  box-shadow: 0px 0px 13px -1px #8c8c8c;
  border-radius: 28px;
}

main section form fieldset legend {
  display: none;
}

main section form fieldset label {
  display: block;
  margin: 1em 0em;
  width: 100%;
}

input#file-upload-button {
  font-size: 3rem;
}

main section form fieldset label input[type='text'] {
  padding: 0.5em;
  width: 100%;
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  font-family: var(--font-body);
  margin: 0.3em 0px;
}

main section form fieldset button[type='submit'] {
  /* margin: 1.2em 0; */
  display: block;
  width: 10em;
  margin: 0 auto;
  text-align: center;
}

main section ul {
  list-style-type: none;
}

/* home */
main section#home {
  text-align: center;
}
main section#home a {
  margin: 2em auto 0;
  /* width: 10em; */
}

/* upload */
main section#upload form fieldset label[for='image'] {
  margin: 0;
  margin-bottom: 0.5em;
}

main section#upload form fieldset label[for='image'] h3 {
  margin-bottom: 0.7em;
}

/* photos - overview */

main section img {
  border-radius: 10px;
}

main section article figure img {
  width: 100%;
  height: auto;
}

main section#photos-overview {
  max-width: 90vw;
  /* background: rgba(255, 0, 0, 0.122); */
  margin: 0 auto;
}

a.fixedLink {
  position: fixed;
  bottom: 4em;
  right: 2em;
}

main section#photos-overview article {
  width: 15em;
}

main section#photos-overview article figure {
  position: relative;
}

/* ! Circle effect on article (photos) */
/* main section#photos-overview article:hover img,
main section#photos-overview article:focus img,
main section#photos-overview article:active img {
  clip-path: circle(100%);
}

main section#photos-overview article img {
  clip-path: circle(34%);
  filter: drop-shadow(0 0 2px #000000);
  transition: 0.5s ease;
} */

main section#photos-overview article:hover figcaption,
main section#photos-overview article:focus figcaption,
main section#photos-overview article:focus-within figcaption,
main section#photos-overview article:active figcaption {
  visibility: visible;
  transform: translateY(0);
}

main section#photos-overview figure figcaption {
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 0;
  padding: 10px;
  transform: translateY(24px);
  transition: 0.2s;
  color: #f5f5f5;
  visibility: hidden;
}

/* canIUse: flexbox is supported in each browser, grid not */
@supports (display: flex) {
  main section#photos-overview {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main section#photos-overview article {
    padding: 0.5em;
  }

  @media (max-width: 400px) {
    main section#photos-overview {
      display: block;
    }

    main section#photos-overview article {
      margin: 0 auto;
    }
  }
}

/* only this is active when grid */
/* @supports (display: grid) {
  main section#photos-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: masonry;
    grid-gap: 1rem;
    justify-items: center;
  }
} */

/* photos - detail */

main section#photos-detail figure,
main section#photos-detail h2 {
  text-align: center;
}

main section#photos-detail figure {
  width: 10em;
  /* width: clamp(10em, 90%, 25em); */
  width: clamp(10em, 63%, 25em);
  margin: 0 auto;
}

main section#photos-detail figure img {
  width: 100%;
}

main section#photos-detail form {
  width: 80vw;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

main section#photos-detail form fieldset {
  box-shadow: none;
}

main section#photos-detail form fieldset button {
  display: inline-block;
  width: 8em;
}

.deleteBtn {
  background: crimson;
  border: 1px solid crimson;
}

.deleteBtn:hover,
.deleteBtn:focus,
.deleteBtn:active {
  background: white;
  color: crimson;
  border: 1px solid crimson;
}

main section#photos-detail form fieldset label {
  margin: 0.4em 0em;
}

/* series - overview */

main section#series-overview {
  text-align: center;
}

/* series - detail */
main section#series-detail a.link:nth-child(2) {
  width: 11em;
}

main section#series-detail h2 {
  margin: 0.5em 0em;
}

main section#series-detail figure {
  text-align: center;
  width: 10em;
  width: clamp(10em, 90%, 25em);
  margin: 0 auto;
}

main section#series-detail figure img {
  width: 100%;
}

/* series - overview */
main section#series-new form {
  width: 80vw;
  margin: 1em auto 0;
  padding: 0;
}

main section#series-new form input[type='checkbox'] {
  display: none;
}

figure img.imageSeries {
  width: 10em;
  opacity: 0.5;
  transition: 0.2s;
  border: 5px solid transparent;
}

main section#series-new form fieldset p.errorMessage {
  text-align: center;
}

main section#series-new form fieldset figure img:hover,
main section#series-new form fieldset figure img:focus,
main section#series-new form fieldset figure img:active {
  cursor: pointer;
  opacity: 1;
}

input:checked ~ p {
  font-weight: 400;
}

label input:checked ~ figure img.imageSeries {
  border: 5px solid green;
  opacity: 1;
  border-radius: 50%;
  animation: party 1s ease-in-out;
}
@keyframes party {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
    filter: drop-shadow(0 0 20px green);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
    filter: drop-shadow(0 0 15px green);
  }
  64% {
    transform: scale(1, 1) translateY(0);
    filter: drop-shadow(0 0 10px green);
  }
  100% {
    transform: scale(1, 1) translateY(0);
    filter: drop-shadow(0 0 0px green);
  }
}

main section#series-new form fieldset a.link {
  margin: 1em auto;
  display: block;
}

/* series - slideshow */
/************* Image slideshow ************************/
.slideshow {
  background-color: #101010;
  /* background: #dcdcdc; */
  height: 70vh;
  width: clamp(15em, 90%, 50em);
  margin: 0 auto;
  margin: 1em auto 0;
}

.slideshow--content {
  display: flex;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slideshow--content__figure {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  width: 100%;
}

.slideshow--content__figure__image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.slideshow--content__figure__description {
  background: #13121285;
  color: #008071;
  left: 0;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  display: none;
}

.slideshow button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: #008071;
  cursor: pointer;
  display: none;
  font-size: 3em;
  padding: 0.25em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.2s ease-in-out;
}

.slideshow button.js {
  display: block;
}

.slideshow button:hover,
.slideshow button:focus,
.slideshow button:active {
  background: #13121280;
}

.slideshow #prev {
  left: 0;
}

.slideshow #next {
  right: 0;
}

/* ------------------------------------------- */
/*                   FOOTER                    */
/* ------------------------------------------- */

footer {
  position: fixed;
  font-size: 0.7rem;
  padding: 0;
  height: 34px;
  padding: 5px 0px;
  background-color: #767c7f0d;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer p {
  margin: 3px 0px;
}

footer p a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-style: italic;
}

footer p a:hover,
footer p a:active,
footer p a:focus {
  color: rgb(34, 34, 147);
}

/* --/* ----- SCROLLBAR ---/* - */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2d28bb91;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c28bb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus ::-webkit-scrollbar-thumb:active {
  background: #2c28bb;
}

/* @media all and (max-width: 50em) {
  main section {
    width: 90vw;
  }
} */
